.auth__button {
  background-color: #fff !important;
  border: 1px $main-color solid !important;
  color: $main-color !important;
  font-weight: 900 !important;
  text-transform: capitalize !important;
  border-radius: 6px !important;
  height: 35px !important;
  width: 150px !important;
  margin-top: 20px !important;
}
