.profileFooter {
  padding: 20px;
  border-top: 1px $hover-color solid;
  h3 {
    display: flex;
    align-items: center;
    color: $main-color;
    font-family: Tahoma-Bold;
    svg {
      margin-right: 10px;
    }
  }
  .profileFooter__card {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    .profileFooter__card-left {
      h4 {
        font-family: Tahoma-Bold;
      }
    }
    .profileFooter__card-right {
      margin-bottom: 1rem;
      div {
        margin: 5px 0;
        padding: 8px;
        border-radius: 8px;
        font-size: 12px;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px !important;
      }
    }
  }
}

.profileFooter .profileFooter__card:not(:last-child) {
  border-bottom: 1px #ccc dotted;
}

.top {
  background-color: #5c98ff;
  color: #fff;
}
.middle {
  background-color: #9fd7f9;
  color: #fff;
}
.bottom {
  background-color: #d8effd;
  color: #000;
}

@media screen and (max-width: 1070px) {
  .profileFooter {
    .profileFooter__card {
      .profileFooter__card-right {
        div {
          font-size: 12px;
          min-width: 90px;
        }
      }
    }
  }
}
