.profileBody {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  .profileBody__left {
    border-right: 1px $hover-color solid;
    flex: 0.5;
  }
  .profileBody__right {
    padding-left: 20px;
    flex: 0.5;
  }
  h3 {
    margin-bottom: 10px;
    color: $main-color;
    font-size: 20px;
  }
  .profileBody__card {
    margin-right: 10px;
    h5 {
      font-family: Tahoma-Bold;
      font-size: 18px;
      margin-top: 10px;
    }
    small {
      font-size: 13px;
      color: #666;
      margin-top: 5px;
    }
    h6 {
      font-size: 14px;
      margin-top: 5px;
    }
    p {
      margin-top: 10px;
      margin-bottom: 20px;
      color: #333;
    }
  }
}

.profileBody .profileBody__card:not(:last-child) {
  border-bottom: 1px #ccc dotted;
}

@media screen and (max-width: 670px) {
  .profileBody {
    flex-direction: column;
    h3 {
      font-family: Tahoma-Bold;
    }
    .profileBody__right {
      padding-left: 0px;
      border-top: 1px $hover-color solid;
      h3 {
        margin-top: 10px;
      }
    }
    .profileBody__left {
      border-right: none;
    }
  }
}
